<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin Slab">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TWPICS</title>

    <script>

        var username;
        var image_elem,image_desc;
        var url = "{% url 'showPic:userData' %}";
        console.log(url)

        function show_pict(data){
           console.log('in picture'+data['image_url'])
           var loc_image = document.getElementById('med_lft')
           var loc_desc = document.getElementById('med_bdy');
           var imgs = document.getElementById('myimg')
           var imgs_desc = document.getElementById('img_desc')
           console.log('imgs is'+imgs)
           if(imgs){
                    image_elem.setAttribute("src", data['image_url']);
                    image_desc.textContent = data['description']
           }
           else{
                    image_elem = document.createElement('img');
                    image_desc = document.createElement('h4');

                    image_elem.setAttribute("src", data['image_url']);
                    image_elem.classList.add('media-object');
                    image_elem.setAttribute("height", "60");
                    image_elem.setAttribute("id","myimg");
                    image_elem.classList.add("img-circle")
                    loc_image.appendChild(image_elem)

                    image_desc.classList.add('media-heading')
                    image_desc.textContent = data['description']
                    loc_desc.append(image_desc);
           }

        }

        function sendUserName(){
            console.log('in send')
            var name  ={'name':username};
            console.log('name is '+username);
            $.post(url,name,function(response){
                response = JSON.parse(response);
                console.log(response);
                if (typeof response != null || response != undefined){
                 show_pict(response);}
                else{
                    alert('ERRORRRRRR');
                }
            });
        }


            $(document).ready(function(){
                $("#submit").submit(function(event){
                console.log("HEY")
                console.log(document.getElementById('name').value);
                username = document.getElementById('name').value;
                if(username){
                    console.log('xxxxxxxxxxxxx'+username)
                    sendUserName();
                    event.preventDefault();
                }
                else{
                    console.log("plz enter valid username")
                    event.preventDefault();
                }

                });
            });
    </script>

    <style>
        body{
             font-size:40px;
             font-family:Josefin Slab;
             size:40px;
        }
        #name{
            font-size:40px;
            width:350px;
            height:50px;
        }

        #submit{
            text-align:center;
        }

        @media(max-width:767px){
            #name{
                width:100%;
                font-size:40px;
                height:50px;
            }
            #submit{
                text-align:center;
            }
        }


    </style>
</head>
<body>
<div class="container" id="my-container">
    <div class="row">
        <div class="col-md-4 col-xs-12"></div>

        <div class="col-md-4 col-xs-12">
            <form class="form-inline" id="submit" method="post">
                {% csrf_token %}
                <div class="form-group has-success" id="block">
                    <label for="name">Name</label>
                    <input type="text" class="form-control form-control-has-success" name="username" id="name">
                    <button type="submit" class="btn btn-primary btn-lg">submit</button>
                </div>
            </form>0
        </div>
        <div class="col-md-4 col-xs-12"></div>
    </div>

    <div class="data">
        <div class="media">
            <div class="media-left" id="med_lft"></div>
        </div>
        <div class="media-body" id="med_bdy"></div>
    </div>
</div>
</body>
</html>
