<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> MATCHER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin Slab">
    <link rel="stylesheet" href="./css/master.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <form class="first-form form-group-lg form-inline"  method="post">
            <div class="form-group has-success">
              <label for="first-name">name</label>
              <input type="text" class="form-control" id="first-name">
            </div>
          </form>
        </div>

        <div class="col-md-6"></div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <form class="first-form form-group-lg form-inline"  method="post">
            <div class="form-group has-success">
              <label for="second-name">name</label>
              <input type="text" class="form-control" id="second-name">
            </div>
          </form>
        </div>

        <div class="col-md-6"></div>
      </div>


      <button type="button" class="btn btn-primary btn-lg " name="button">submit</button>
    </div>
  </body>
</html>
