{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> MATCHER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin Slab">
    <link rel="stylesheet" href="static/css/master.css">
    <script type="text/javascript" src="static/javascript/myscript.js"></script>
  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <form class="first-form form-group-lg" id="submit"  method="post">
            {% csrf_token %}
            <div class="form-group has-success">
              <label for="first-name">first-name</label>
              <input type="text" class="form-control" id="first-name" name="first-name" placeholder="enter the user name">
              <label for="second-name">second-name</label>
              <input type="text"  class="form-control" id="second-name" name="second-name" placeholder="enter the celebrity name">
              <button type="submit" class="btn btn-primary btn-lg " name="button">submit</button>
            </div>
          </form>
        </div>

        <div class="col-md-6"></div>
      </div>
    </div>
  </body>
</html>
