
	* { font-family: 'Signika', sans-serif; }
	.insights {padding: 60px 0px 60px; background-color: #F8F8F8; }
	h1 { font-size: 30px; font-weight: 400; display: inline; padding-left: 10px;}
	h2 { font-size: 30px; font-weight: 300; padding: 0px 0px 30px 10px;}
	.col {width: 1200px; margin: 0 auto;}
	.row {width: 180px; display: inline-block; border-top: 1px solid #ccc; padding-top: 25px; margin: 0px 20px 80px 0px; vertical-align: top; }
	.chart { display: inline-block;}
	.text { font-weight: 400; color: #333; line-height: 150%; padding-top: 5px;}
	/* set arc path stroke to background color */
	.pie path { stroke: #F8F8F8 !important }
