<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TODO</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <%

    %>

    <form  action="/todo/add" method="post">
      <label for="todo">Task to do</label>
      <input type="text" name="todo" id="todo">
      <input type="submit">
    </form>
  </body>
</html>
